<%= render 'layouts/header' %>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <br>
      <% if user_signed_in? %>
        <% if @user.username == current_user.username %>
          <h2 class="text-center font-weight-light">My Profile</h2>
        <% else %>
          <h2 class="text-center font-weight-light"><%= @user.username %>'s Profile</h2>
        <% end %>
      <% elsif not(user_signed_in?) %>
        <h2 class="text-center font-weight-light"><%= @user.username %>'s Profile</h2>
      <% end %>
      <br>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <h4>基本情報</h4>
      <% if user_signed_in? %>
        <% if @user.id == current_user.id %>
          <%= link_to "Edit", edit_user_registration_path(current_user.id) %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <p>ニックネーム: <%= @user.username %></p>
      <p>総投稿数: <%= @posts.length %></p>
      <p>登録日: <%= @user.created_at.strftime('%Y年%m月%d日') %></p>
      <hr>
    </div>
    <div class="col-md-2"></div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <h4 class="font-weight-light">Posts</h4>
    </div>
    <div class="col-md-6">
      <% @posts.each do |post| %>
        <%= link_to post.title, post_path(post.id) %>
        <hr>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>




<%= render 'layouts/footer' %>