<%= render 'layouts/header' %>
<%= render 'layouts/posting' %>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <br>
      <h2 class="text-center font-weight-light">Latest Texts</h2>
      <br>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <%= form_tag search_posts_path, method: :get do %>
        <div class="form-group row">
          <div class="col-sm-9">
            <%= text_field_tag :key_words, params[:key_words], placeholder: "書名や講義名を入力", class: "form-control" %>
          </div>
          <div class="col-sm-3">
            <%= submit_tag '検索' , class: "btn btn-block btn-outline-dark" %>
          </div>
        </div>
      <% end %>
      <br>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="container row">
        <% @posts.reverse_each do |post| %>
          <div class="col-2">
            <% if post.image? %>
              <%= image_tag post.image.thumb100.url %>
            <% else %>
              <div class="text-center">
                <%= image_tag 'noimage_100.png' %>
              </div>
            <% end %>
          </div>
          <div class="col-4">
            <table class="table">
              <thead>
                <tr>
                  <th colspan=2>
                    <%= link_to post.title, post_path(post.id), class: "font-weight-bold" %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>講義名</td>
                    <td><%= post.lecture %></td>
                </tr>
                <tr>
                    <td>ステータス</td>
                    <td><%= post.status %></td>
                </tr>
              </tbody>
          </table>
            <br>     
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>


<%= render 'layouts/footer' %>