<!-- 
粗探ししないでください。
-->
    <nav class="navbar navbar-dark bg-dark fixed-top" id="mainNav">
        <%= link_to "Yuzuru-OSU", root_path, class: "navbar-brand" %>
        

        
        
            <div class="navbar-nav-scroll " id="navbarResponsive">
                <ul class="navbar-nav ml-auto flex-row">
                    <li class="nav-item mx-0 mx-lg-1">
                        <%= link_to "教材を探す", search_posts_path, class: "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %>
                    </li>

                    <% if user_signed_in? %>
                        <li class="nav-item mx-0 mx-lg-1">
                            <%= link_to "#{current_user.username} プロフィール", user_path(current_user.id), class: "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <%= link_to "logout", logout_path, method: :delete, class: "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %>
                        </li>
                    <% else %>
                        <li class="nav-item mx-0 mx-lg-1">
                            <%= link_to "SignUp", signup_path, class: "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <%= link_to "LogIn", login_path, class: "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" %>
                        </li>
                    <% end %>

                </ul>
            </div>
    </nav>

